@{
    ViewData["Title"] = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SonOfCodSeafood.Models.Member

<h2>Members Email List</h2>
@foreach(var member in ViewBag.Members)
{
    <div>
        <p> @member.Name | @member.Email </p>
    </div><br />
}
<hr />