@{
    ViewData["Title"] = "SonOfCodSeafood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to our Seafood company where we transform Cod into delicacies</h2>

@Html.ActionLink("Sign in to receive our newsletter!!", "Index", "Account")
<hr />

@*<a href="http://placeholder.com/"></a>*@

<img src="~/Images/cod2.jpg" border=0>
<hr />


